version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: pronounce-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_DB: pronounce_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: pronounce-postgres
    restart: always
    environment:
      POSTGRES_DB: pronounce_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
